    <div class="container-fluid image">
        <span class="h1 big">WHO GIVES A FLYING DUCK?! <br> WE DO !!
            <br> <span class="small">THAT'S WHY WE MAKE SHOPPING A LITTLE FUN AND EASIER FOR YOU</span></span>
    </div>

    <div class="container">
        <div class="category_section">
            <div class="row">
                <div class="col-lg-2 col-sm-12">
                    <h1 class="category_text">Category</h1>
                </div>
                <div class="col-lg-10 col-sm-12 main">

                    {% for categories in category %}
                    <div class="col">
                        <div class="box_main">
                            <a href="{{ categories.name }}">
                                <div class="icon_{{ categories.id }}"> </div>
                            </a>
                            <h4 class="fashion_text active">{{ categories.name }}</h4>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="category_section_2">
            <div class="row">
                {% for products in product %}
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="beds_section mb-3">
                        <h1 class="categot_text">{{products.name }} | <span class="text-danger">Ksh. {{products.price}}</span></h1>
                        <div><img src="{{products.image}}" class="image_2 productimg"></div>
                        <div class="seemore_bt"><a href="/order/{{products.name}}">Order</a></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

