{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 py-5">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {%for message in messages%}
      {%if forloop.first %}
      <strong>{{message}}</strong> 
      {%endif%}
      {%endfor%}
    </div>
    
    <script>
      $(".alert").alert();
    </script>
    <form action="" method="post">
        {%csrf_token%}
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="" aria-describedby="emailHelpId" placeholder="email" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="pwd" id="pwd" placeholder="password">
        </div>
        <input type="submit" class="button" value="Login">
    </form>

    <large id="createmail" class="form-text text-muted">Don't have an acount? Sign up <a href="/signup">here</a></large>
</div>
{% endblock %}