{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12 border text-center mh">
            <span class="h2">{{item.name}}</span><br><br>
            <h3>Description</h3>
            <span class="p">{{item.description}}</span> <br>
            <a href="/buy/{{item.id}}" class="btn btn-info" onclick="alert('Successfully ordered {{item.name}}')">But at Ksh. {{item.price}}</a>
        </div>
        <div class="col-md-6 col-sm-12 border">
            <img src="{{item.image}}" class="mh" alt="{{item.name}}">
        </div>
    </div>
    
</div>

{% endblock %}