{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">


<div class="category_section_2">
    <div class="row">
        {% for products in product %}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="beds_section mb-3">
                <h1 class="product_text">{{products.name }} | <span class="text-danger">Ksh. {{products.price}}</span></h1>
                <div><img src="{{products.image}}" class="image_2 productimg"></div>
                <div class="seemore_bt"><a href="/order/{{products.name}}">Order</a></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}